<div class="container">
	<h3 class="mini-titulos"> CONTÁCTANOS</h3>
</div>

<section class="contacto">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<%= form_tag(send_mail_path, name: "forma_mail", multipart: true, class: 'allcontact', multipart: true) do %>

				<div class="row">
					<div class="col-sm-6">
						<p class="input-tag">NOMBRE:</p>
					<%= text_field_tag 'name', nil, class: 'contact-input' %><br>

						<p class="input-tag">CORREO:</p>
					<%= email_field_tag 'email', nil, class: 'contact-input' %><br>

						<p class="input-tag">TÉLEFONO:</p>
					<%= text_field_tag 'tel', nil, class: "contact-input"%><br>

					</div>
					<div class="col-sm-6">

						<p class="input-tag">COMENTARIOS:</p>
					<%= text_area_tag 'comments', nil, class: 'contact-input', rows: 7 %><br>
					</div>
				</div>


					<%= submit_tag "Enviar", class: 'thebutton' %>

					<% end %>
			</div>
			<div class="col-sm-5">

				<div><%= image_tag("c_representante.png")%> <p style="display:inline-block;")>Representatnte Legal<br>Lic. Ma. Griselda Calderón Solís</p></div>
				<div><%= image_tag("c_telefono.png") %> <p style="display:inline-block;">8115438953 &nsbp; 80 32 70 71</p></div>
				<div><%= image_tag("c_correo.png")%> <p style="display:inline-block;">seamostodos.ac@hotmail.com</p></div>
				<div><%= image_tag("c_ubicacion.png")%> <p style="display:inline-block;">Golfo de Panamá 105 <br> Col. Lomas del Poniente, <br> Snata Catarina, N.L. C.P 66369</p></div>
				<div><%= image_tag("c_facebook.png")%> <p>Seamos Todos AC</p></div>
			</div>
		</div>
	</div>
</section>