<div class="container">
	<h3 class="mini-titulos"> CONTÁCTANOS</h3>
</div>

<section class="contacto">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<%= form_tag(send_mail_path, name: "forma_mail", multipart: true, class: 'allcontact', multipart: true) do %>

				<div class="row">
					<div class="col-sm-6">
						<p class="input-tag">NOMBRE:</p>
					<%= text_field_tag 'name', nil, class: 'contact-input' %><br>

						<p class="input-tag">CORREO:</p>
					<%= email_field_tag 'email', nil, class: 'contact-input' %><br>

						<p class="input-tag">TÉLEFONO:</p>
					<%= text_field_tag 'tel', nil, class: "contact-input"%><br>

					</div>
					<div class="col-sm-6">

						<p class="input-tag">COMENTARIOS:</p>
					<%= text_area_tag 'comments', nil, class: 'contact-input', rows: 7 %><br>
					</div>
				</div>


					<%= submit_tag "Enviar", class: 'thebutton' %>

					<% end %>
			</div>
			<div class="col-sm-5">

				<div><%= %> <p>Representatnte Legal<br>Lic. Ma. Griselda Calderón Solís</p></div>
			</div>
		</div>
	</div>
</section>