<section class="banner-home">
	<div class="home-sentence-wrapper">
		<h3 class="home-sentence">"Negar a la gente sus derechos humanos es desafiar su propia humanidad"</h3>
	</div>
</section>

<div class="container text">

	<h2>SEAMOS TODOS</h2>
	<p>Tiene la misión de contribuir en la formación de familias funcionales, de lograr la equidad de género en la constitución de mujeres valiosas constructoras de un futuro personal prometedor con la certeza que serán agentes de cambio que promuevan el bienestar y desarollo de su familia y comunidad, marcando un paradigma entre el hoy el mañana en el crecimiento humano y de valores de presentes y futuras generaciones que nuestra sociedad con urgencia necesita.</p>

	<div class="small-purple-line"></div>

</div>


<section class="small-banner">
</section>

<div class="container">
	<div class="row valores-row">
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("mision.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("vision.png")%>

				<h3>VISIÓN</h3>
				<p>Ser una de las mejores alternativas de respuesta social que proponfa y dé soluciones en el proceso formativo y dinámica familiar de los niños.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("valores.png")%>

				<h3>VALORES</h3>
				<p>Los valores morales o éticos tienen que ver con el uso de la libertad, es un don inapreciable que nos permite ser constructores de nuestro propio destino.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
	</div>
</div>

<section class="quote">
	<div class="container">
		<div class="row">
			<div class="col-sm-push-2 col-sm-8">
				
				<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>La eduación es el arma más poderosa que puedes usar para cambiar el mundo.</p>
				<p class="author">- Nelson Mandela <%= image_tag("comillas_der.png", class: "comillas-der")%></p>
				
			</div>
		</div>
	</div>
</section>

<!--<div class="container">
	<div class="carousel-purple-line"></div>
</div>-->


<div class="carousel-wrapper">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<h3 class="carousel-header">REDES DE APOYO</h3>
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>
	  </ol>

	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	    	<%= image_tag("1.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("2.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("3.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("4.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("5.jpg", class: "imagenes-redes-de-apoyo")%>
	    </div>

	    <div class="item">
	      	<%= image_tag("6.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("7.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("8.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("9.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("10.jpg", class: "imagenes-redes-de-apoyo")%>
	    </div>

	    <div class="item">
	      	<%= image_tag("11.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("12.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("13.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("14.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("15.jpg", class: "imagenes-redes-de-apoyo")%>
	    </div>

	    <div class="item">
	     	 <%= image_tag("16.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("17.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("18.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("19.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("20.jpg", class: "imagenes-redes-de-apoyo")%>
	    </div>

	     <div class="item">
	     	<%= image_tag("21.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("22.jpg", class: "imagenes-redes-de-apoyo")%>
	    	<%= image_tag("23.jpg", class: "imagenes-redes-de-apoyo")%>
	   	 </div>

	  </div>

	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>

	  	<div class="carousel-purple-line"></div>

	</div>
</div>

