<div class="container">
	<h3 class="mini-titulos">HISTORIA</h3>
	<div class="row">
		<div class="col-sm-6 nosotros-first-col">
		</div>
		<div class="col-sm-6">
			<p>Desde el año 2006 estamos trabajando con estos objetivos y desde Junio del 2013 nos consituimos como Asosiación Civil para abrir la posibilidad de apoyo al mayor número de personas posible, especialmente mujeres que están al frente de sus familias y que vven en condiciones de vida vulnerables.</p>

			<p>Nos enfocamos mucho en la mujer por posser la prinicpal influencia y fuerza que conforma a la familia; es transmisora de valores y ejemplo a seguir, contribuyendo en la formación de personas exitosas, respetuosas, responsables con sigo mismos y on la sociedad.</p>
		</div>
	</div>
</div>

<section class="quote">
	<div class="container">
		<div class="col-sm-push-2 col-sm-8">
			<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>La eduación es el arma más poderosa que puedes usar para cambiar el mundo.</p>
				<p class="author">- Nelson Mandela <%= image_tag("comillas_der.png", class: "comillas-izq")%></p>
		</div>
	</div>
</section>

<div class="container">
	<h3 class="mini-titulos">OBJETIVOS</h3>
	<div class="row">
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("objetivo_1.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("objetivo_2.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>

				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("objetivo_3.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>

	</div>
</div>


<section class="nosotros-banner">
</section>