<div class="container container-padding">
	<h3 class="mini-titulos">HISTORIA</h3>
	<div class="row historia">
		<div class="col-sm-6 nosotros-first-col">
		</div>
		<div class="col-sm-6">
			<p>Desde el año 2006 estamos trabajando con estos objetivos y desde Junio del 2013 nos consituimos como Asosiación Civil para abrir la posibilidad de apoyo al mayor número de personas posible, especialmente mujeres que están al frente de sus familias y que vven en condiciones de vida vulnerables.</p>

			<p>Nos enfocamos mucho en la mujer por posser la prinicpal influencia y fuerza que conforma a la familia; es transmisora de valores y ejemplo a seguir, contribuyendo en la formación de personas exitosas, respetuosas, responsables con sigo mismos y on la sociedad.</p>


			<div class="nosotros-purple-line"></div>

		</div>
	</div>
</div>

<section class="quote">
	<div class="container">
		<div class="col-sm-push-2 col-sm-8">
			<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>El objetivo de la educación es preparar a los jóvenes a educarle a ellos mismos para el futuro.</p>
				<p class="author">- Robert M. Hutchins <%= image_tag("comillas_der.png", class: "comillas-izq")%></p>
		</div>
	</div>
</section>

<div class="container container-padding">
	<h3 class="mini-titulo-objetivos">OBJETIVOS</h3>
	<div class="row objetivos-row">
		<div class="col-sm-4 objetivos">
			<div>
				<%= image_tag("objetivo_1.png")%>

				<p>Desarrollar, promover y ofrecer toda clase de servicios relacionados con el cuidado y la educación de los niños así como de sus familias que se encuentran en situación vulnerable.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 objetivos">
			<div>
				<%= image_tag("objetivo_2.png")%>

				<p>Ofrecer apoyo multidiciplinario a menores desde 45 días de nacidos hasta los 6 años incluidos aquellos que presenten algun tipo de discapacidad.</p>

				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 objetivos">
			<div>
				<%= image_tag("objetivo_3.png")%>

				<p>Desarrollar promover y fomentar toda clase de actividades relacionadas en la formación de familias funcionales.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>

	</div>
</div>


<section class="nosotros-banner small-banner">
</section>

<div class="container">
	<h3 class="mini-titulo-como-contribuir">MARCO LÓGICO</h3>

	<%= image_tag("marco-teorico.png", class: "marco-teorico")%>

	<div class="marco-teorico-purple-line"></div>
</div>